<form action="/user/signup" style="width:20em">
    <div class="container">
      <h2>Signup Form</h2>
      <label><b>Username</b></label>
      <input type="text" placeholder="Username" name="uname" required/>
      <label><b>E-Mail</b></label>
      <input type="text" placeholder="E-Mail" name="uname" required/>
      <label><b>Password</b></label>
      <input type="password" placeholder="Password" name="psw" required>
      <button type="submit" class="green maxwidth">Login</button>
    </div>
    
    <div class="container" style="background-color:#f1f1f1; text-align:right">
        Already have account: <a href="#">login ?</a><br/>
    </div>
  </form>
    